<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.auth.dao.ResourcesMapper">
	<resultMap id="BaseResultMap"
		type="com.allmsi.auth.model.po.Resources">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="resUrl" property="resUrl" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="cUserId" property="cUserId" jdbcType="VARCHAR" />
		<result column="cTime" property="cTime" jdbcType="TIMESTAMP" />
		<result column="uUserId" property="uUserId" jdbcType="VARCHAR" />
		<result column="uTime" property="uTime" jdbcType="TIMESTAMP" />
		<result column="del" property="del" jdbcType="INTEGER" />
		<result column="systemId" property="systemId"
			jdbcType="VARCHAR" />

		<result column="authDealId" property="authDealId"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, resUrl, name, flag, cUserId, cTime, uUserId,
		uTime,systemId
	</sql>
	<sql id="Simple_Column_List">
		re.id, re.resUrl, re.name, re.flag, re.systemId
	</sql>
	<select id="selectResListForCacheAdd" resultMap="BaseResultMap">
		select
		r.resUrl,ra.authDealId
		from im_ta_resources r
		left join
		im_ta_resources_auth ra on r.id = ra.resId and ra.del = 0
		where r.del =
		0 and flag = 0
	</select>
</mapper>