<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.auth.dao.SystemIdMapper">
	<resultMap id="BaseResultMap"
		type="com.allmsi.auth.model.po.SystemId">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="systemName" property="systemName"
			jdbcType="VARCHAR" />
		<result column="del" property="del" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, systemName
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from im_ta_system_id
		where id = #{id,jdbcType=VARCHAR}
	</select>
</mapper>